
@{
}
<form method="post">
    <p>
        <label>Your comment</label><br />
        <textarea name="comment"></textarea>
    </p>

    <p>
        <input type="submit" value="Send" />
    </p>
</form>