
@{
}
<form method="post">
    <p>
        <label>Topic name</label><br />
        <input type="text" name="topicName" />
    </p>
    

    <p>
        <input type="submit" value="Send" />
    </p>
</form>