
@model TopicModel
<form method="post">
    <p>
        <h1>Edit old post</h1>
        <label></label><br />
        <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3">@Model.Name</textarea>
    </p>

    <p>
        <input type="submit" value="Send" />
    </p>
</form>