@page
@model Traineeship.Views.Home.RegisterModel
    <div class="card-body">
        <form method="post" action="" autocomplete="off">
            E-mail
            <div class="form-group">
                <input type="text" class="form-control" name="username">
            </div>
            Password
            <div class="form-group">
                <input type="password" class="form-control" name="password">
            </div>
            <input type="submit" value="Register" />
            @*<a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Register</a>*@


        </form>
    </div>
